# Prediction of AQI using Xgboost

In [ ]:
#importing the necessary libraries

In [125]:
import numpy as np
import pandas as pd

In [127]:
df = pd.read_excel('City_by_day1.xlsx')      #loading the dataset

In [128]:
df.head()

,City,Date,year,month,PM2.5,NO,NO2,NOx,CO,SO2,PM10,NH3,O3,C6H6,C7H8,AQI,AQI_Bucket
0,Ahmedabad,1/2/2015,2015,1,-7.127614e-14,-0.828196,-0.561032,-0.540595,0.97,24.55,-0.009303,-0.037855,-0.021397,0.028058,-0.187908,NaN,NaN
1,Ahmedabad,1/3/2015,2015,1,-7.127614e-14,-0.069594,-0.403672,-0.088994,17.40,29.07,-0.000782,-0.003181,-0.188035,0.247369,0.451960,NaN,NaN
2,Ahmedabad,1/4/2015,2015,1,-7.127614e-14,-0.794490,-0.439416,-0.489090,1.70,18.59,-0.008924,-0.036314,0.078785,0.080777,0.084476,NaN,NaN
3,Ahmedabad,1/5/2015,2015,1,-7.127614e-14,0.147413,-0.311261,0.185923,22.10,39.33,0.001656,0.006738,0.238976,0.262130,0.598131,NaN,NaN
4,Ahmedabad,1/6/2015,2015,1,-7.127614e-14,1.223677,0.432384,1.677842,45.41,45.76,0.013745,0.055931,0.596057,0.150366,0.124981,NaN,NaN

In [129]:
df = df.drop(['NO','NOx','C6H6','C7H8'], axis = 1 )    #drop unnecessary columns

In [130]:
df.head()

,City,Date,year,month,PM2.5,NO2,CO,SO2,PM10,NH3,O3,AQI,AQI_Bucket
0,Ahmedabad,1/2/2015,2015,1,-7.127614e-14,-0.561032,0.97,24.55,-0.009303,-0.037855,-0.021397,NaN,NaN
1,Ahmedabad,1/3/2015,2015,1,-7.127614e-14,-0.403672,17.40,29.07,-0.000782,-0.003181,-0.188035,NaN,NaN
2,Ahmedabad,1/4/2015,2015,1,-7.127614e-14,-0.439416,1.70,18.59,-0.008924,-0.036314,0.078785,NaN,NaN
3,Ahmedabad,1/5/2015,2015,1,-7.127614e-14,-0.311261,22.10,39.33,0.001656,0.006738,0.238976,NaN,NaN
4,Ahmedabad,1/6/2015,2015,1,-7.127614e-14,0.432384,45.41,45.76,0.013745,0.055931,0.596057,NaN,NaN

In [131]:

import matplotlib.pyplot as plt

In [132]:
df1 = df.dropna()     #dropping all the rows having Null values

In [133]:
X=df1.iloc[: , 4: -2]
Y=df1.iloc[:,-2:-1]

In [134]:
X

          PM2.5       NO2     CO    SO2      PM10       NH3        O3
25     0.263899  0.006510   6.93  49.52 -0.006212 -0.025277  1.253187
26     1.216024 -0.007003  30.61  33.79  0.006069  0.024697  1.939578
27     0.222158 -0.249799   2.37  25.73 -0.008577 -0.034900  0.635237
28    -0.153003 -0.312569   2.60  32.66 -0.008458 -0.034415  0.944708
29     0.199268 -0.070645   1.16  67.41 -0.009204 -0.037454  1.230374
...         ...       ...    ...    ...       ...       ...       ...
27237 -0.882455 -0.152594   0.47   8.55 -0.005823 -0.023694 -0.555036
27238 -0.724917 -0.109004   0.52  12.72 -0.008032 -0.032684 -0.215808
27239 -0.749659  0.042254   0.48   8.42 -0.008017 -0.032621 -0.175140
27240 -0.855189  0.030484   0.52   9.84 -0.007706 -0.031355 -0.307062
27241 -0.882791 -0.074568   0.59   2.10 -0.009599 -0.039058 -0.865003

[22736 rows x 7 columns]

In [135]:
Y

         AQI
25     209.0
26     660.0
27     294.0
28     149.0
29     190.0
...      ...
27237   41.0
27238   70.0
27239   68.0
27240   54.0
27241   50.0

[22736 rows x 1 columns]

In [136]:
Y.isnull()

         AQI
25     False
26     False
27     False
28     False
29     False
...      ...
27237  False
27238  False
27239  False
27240  False
27241  False

[22736 rows x 1 columns]

In [ ]:
#training and testing the model

In [137]:
from sklearn.model_selection import cross_val_score


from sklearn.model_selection import train_test_split
X_train , X_test , Y_train ,Y_test = train_test_split(X, Y , test_size = 0.2)

In [138]:
import matplotlib.pyplot as plt

In [139]:
len(X_train)

18188

In [140]:
len(X)

22736

In [141]:
len(X_test)

4548

In [ ]:
#applying Xgboost algorithm

In [142]:
from xgboost import XGBRegressor
xgbr = XGBRegressor(verbosity = 0)

In [143]:
xgbr

XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, subsample=None, tree_method=None,
             validate_parameters=None, verbosity=0)

In [144]:
xgbr.fit(X_train , Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [145]:
y_pred = xgbr.predict(X_test)

In [146]:
from sklearn.metrics import r2_score
score = r2_score(Y_test,y_pred)      #   prediction accuracy

In [147]:
score

0.871903282346176

# TRAINING THE MODEL FOR THE AQI BUCKET USING LOGISTIC REGRESSION

In [148]:
df2 = df1

In [101]:
df2.head()

,City,Date,year,month,PM2.5,NO2,CO,SO2,PM10,NH3,O3,AQI,AQI_Bucket
25,Ahmedabad,1/29/2015,2015,1,0.263899,0.006510,6.93,49.52,-0.006212,-0.025277,1.253187,209.0,Poor
26,Ahmedabad,2/3/2015,2015,2,1.216024,-0.007003,30.61,33.79,0.006069,0.024697,1.939578,660.0,Severe
27,Ahmedabad,2/4/2015,2015,2,0.222158,-0.249799,2.37,25.73,-0.008577,-0.034900,0.635237,294.0,Poor
28,Ahmedabad,2/5/2015,2015,2,-0.153003,-0.312569,2.60,32.66,-0.008458,-0.034415,0.944708,149.0,Moderate
29,Ahmedabad,2/6/2015,2015,2,0.199268,-0.070645,1.16,67.41,-0.009204,-0.037454,1.230374,190.0,Moderate

In [149]:
X1=df2.iloc[: , 11: -1]
Y1=df2.iloc[:,-1:]

In [150]:
X1

         AQI
25     209.0
26     660.0
27     294.0
28     149.0
29     190.0
...      ...
27237   41.0
27238   70.0
27239   68.0
27240   54.0
27241   50.0

[22736 rows x 1 columns]

In [151]:
Y1

         AQI_Bucket
25             Poor
26           Severe
27             Poor
28         Moderate
29         Moderate
...             ...
27237          Good
27238  Satisfactory
27239  Satisfactory
27240  Satisfactory
27241          Good

[22736 rows x 1 columns]

In [152]:
from sklearn import linear_model

from sklearn.model_selection import train_test_split
X1_train , X1_test , Y1_train ,Y1_test = train_test_split(X1,Y1,test_size = 0.2 , random_state = 0)

In [153]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X1_train,Y1_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [154]:
len(X1_train)

18188

In [155]:
len(X1_test)

4548

In [156]:
y1_pred = model.predict(X1_test)

In [157]:
model.score(X1_test, Y1_test)

1.0

# you can check some of the predictions acc to their AQI value

In [158]:
model.predict([[8]])

array(['Good'], dtype=object)

In [159]:
model.predict([[80]])

array(['Satisfactory'], dtype=object)

In [160]:
model.predict([[897]])

array(['Severe'], dtype=object)