In [25]:
import pandas as pd
df = pd.read_csv("cities_by_day.csv",parse_dates=["Date"])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  datetime64[ns]
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  C6H6        23908 non-null  float64
 12  C7H8        21490 non-null  float64
 13  C8H10       11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 3.6+ MB

In [27]:
initial_length = len(df)
print(initial_length)

29531

In [28]:
df_column = df.columns

In [29]:
for name in df_column:
    print("{} has null value = {} ".format(name,df[name].isnull().sum()))

City has null value = 0
Date has null value = 0
PM2.5 has null value = 4598
PM10 has null value = 11140
NO has null value = 3582
NO2 has null value = 3585
NOx has null value = 4185
NH3 has null value = 10328
CO has null value = 2059
SO2 has null value = 3854
O3 has null value = 4022
C6H6 has null value = 5623
C7H8 has null value = 8041
C8H10 has null value = 18109
AQI has null value = 4681
AQI_Bucket has null value = 4681

In [30]:
# as AQI_BUCKET has 4681 null values as well as its dtype is object so removing its null values because i cant a way to replace them with someone
df = df[df["AQI_Bucket"].notnull()]
print(df.head())

         City       Date   PM2.5  PM10     NO    NO2    NOx  NH3     CO  \
28  Ahmedabad 2015-01-29   83.13   NaN   6.93  28.71  33.72  NaN   6.93
29  Ahmedabad 2015-01-30   79.84   NaN  13.85  28.68  41.08  NaN  13.85
30  Ahmedabad 2015-01-31   94.52   NaN  24.39  32.66  52.61  NaN  24.39
31  Ahmedabad 2015-02-01  135.99   NaN  43.48  42.08  84.57  NaN  43.48
32  Ahmedabad 2015-02-02  178.33   NaN  54.56  35.31  72.80  NaN  54.56

      SO2      O3  C6H6  C7H8  C8H10    AQI AQI_Bucket
28  49.52   59.76  0.02  0.00   3.14  209.0       Poor
29  48.49   97.07  0.04  0.00   4.81  328.0  Very Poor
30  67.39  111.33  0.24  0.01   7.67  514.0     Severe
31  75.23  102.70  0.40  0.04  25.87  782.0     Severe
32  55.04  107.38  0.46  0.06  35.61  914.0     Severe

In [33]:
length_df = len(df)
print(length_df)

24850

In [35]:
# total number of entries lost
initial_length - length_df

4681

In [39]:
# replacing null values by mean 
df["PM2.5"].fillna(df["PM2.5"].mean(axis=0),inplace = True)
print(df["PM2.5"].isnull().sum())

0

In [40]:
for name in df_column:
    if name == "City" or name == "Date" or name=="PM2.5" or name == "AQI_Bucket":
        continue
    else:
        df[name].fillna(df[name].mean(axis=0),inplace = True)

In [41]:
# checking null values
for name in df_column:
    print("{} has null value = {} ".format(name,df[name].isnull().sum()))

City has null value = 0
Date has null value = 0
PM2.5 has null value = 0
PM10 has null value = 0
NO has null value = 0
NO2 has null value = 0
NOx has null value = 0
NH3 has null value = 0
CO has null value = 0
SO2 has null value = 0
O3 has null value = 0
C6H6 has null value = 0
C7H8 has null value = 0
C8H10 has null value = 0
AQI has null value = 0
AQI_Bucket has null value = 0

In [44]:
# breaking / / / format of date to columns of day,month,year
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24850 entries, 28 to 29530
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        24850 non-null  object
 1   Date        24850 non-null  datetime64[ns]
 2   PM2.5       24850 non-null  float64
 3   PM10        24850 non-null  float64
 4   NO          24850 non-null  float64
 5   NO2         24850 non-null  float64
 6   NOx         24850 non-null  float64
 7   NH3         24850 non-null  float64
 8   CO          24850 non-null  float64
 9   SO2         24850 non-null  float64
 10  O3          24850 non-null  float64
 11  C6H6        24850 non-null  float64
 12  C7H8        24850 non-null  float64
 13  C8H10       24850 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
 16  Day         24850 non-null  int64
 17  Month       24850 non-null  int64
 18  Year        24850 non-null  int64
dtypes: datetime64[ns](1), float64(13), int64(3), object(2)
memory usage: 3.8+ MB

In [46]:
print(df.head())

         City       Date   PM2.5        PM10     NO    NO2    NOx        NH3  \
28  Ahmedabad 2015-01-29   83.13  118.454435   6.93  28.71  33.72  23.848366
29  Ahmedabad 2015-01-30   79.84  118.454435  13.85  28.68  41.08  23.848366
30  Ahmedabad 2015-01-31   94.52  118.454435  24.39  32.66  52.61  23.848366
31  Ahmedabad 2015-02-01  135.99  118.454435  43.48  42.08  84.57  23.848366
32  Ahmedabad 2015-02-02  178.33  118.454435  54.56  35.31  72.80  23.848366

       CO    SO2      O3  C6H6  C7H8  C8H10    AQI AQI_Bucket  Day  Month  \
28   6.93  49.52   59.76  0.02  0.00   3.14  209.0       Poor   29      1
29  13.85  48.49   97.07  0.04  0.00   4.81  328.0  Very Poor   30      1
30  24.39  67.39  111.33  0.24  0.01   7.67  514.0     Severe   31      1
31  43.48  75.23  102.70  0.40  0.04  25.87  782.0     Severe    1      2
32  54.56  55.04  107.38  0.46  0.06  35.61  914.0     Severe    2      2

    Year
28  2015
29  2015
30  2015
31  2015
32  2015